*{
  margin: 0;
  padding: 0;

}

body {
  height: 100vh;
  width: 100vw;
  background-image: 
    linear-gradient(to bottom, transparent, transparent),
    url('./assets/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}


/* nav-bar layout  */
.navbar {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 35px 45px;
  font: bolder;
}
.bar {
  color: grey;
}

/* nav list item layout */
.navbar__items {
  display: flex;
  list-style: none;
  gap: 30px;
}
/* nav-bar logo and image size */
.navbar svg {
  height: 20px;
  width: auto;
}

/* main container or hero section */
.hero__container {
  width: 70vw;
  margin: auto;
  text-align: center;
  padding-top: 80px;
}

.hero__container--typo h1 {
  font-size: 55px;
  font-weight: bolder;
  color: #ffffff;
}
.hero__container--typo p {
  font-size: 18px;
  font-weight: bold;
  padding-top: 30px;
  color: #94A3B8;
}

.hero__container--btn {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 30px;
}

.hero__container--btn button {
 padding: 14px;
 background: #0EA5E9;
 border: none;
 border-radius: 4px;
 color: #ffffff;
 font-size: 18px;
}

.hero__container--btn div {
  border: none;
  background-color: #1E293B;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 0 10px;
  border-radius: 4px;
}
.hero__container--btn input {
  color: #94A3B8;
  border: none;
  background-color: #1E293B;
  outline: none;

}

.hero__container--btn input:active {
  border: none;
  background-color: #1E293B;

}

/* changing input color */
::placeholder {
  color: #94A3B8
}

.btn-search p {
  color: #94A3B8;
}